<div class="container-fluid pt-3 pb-3 bg-feed">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body bg-feed">
          <div class="row">
            <div class="col-lg-4 bg-feed">
              <div class="border-bottom text-center pb-4">
                <img src="{{photo}}" width="150px" height="150px" alt="profile" class="img-lg rounded-circle mb-3">
                <div class="mb-3">
                  <a class="text-dark text-decoration-none">
                    <h3 class="font-weight-bold">{{name}}</h3>
                  </a>
                </div>
                <div>
                  <p class="w-75 mx-auto mb-3 text-dark"> {{description}} </p>
                </div>
              </div>
              <button class="btn btn-post btn-block mt-2 mb-5" (click)="logoff()">Sair</button>
            </div>

            <div class="get-in-touch">
              <h1 class="title">Precisando de ajuda? Envie uma mensagem para a gente!</h1>
              <form class="contact-form row">
                <div class="form-field col-lg-6">
                  <input id="name" class="input-text js-input" type="text" required>
                  <label class="label mb-2 mt-2" for="name">Nome</label>
                </div>
                <div class="form-field col-lg-6 ">
                  <input id="email" class="input-text js-input" type="email" required>
                  <label class="label mb-2 mt-2" for="email">E-mail</label>
                </div>
                <div class="form-field col-lg-6 ">
                  <input id="company" class="input-text js-input" type="text" required>
                  <label class="label mb-2 mt-2" for="company">Assunto</label>
                </div>
                <div class="form-field col-lg-12">
                  <input id="message" class="input-text js-input" type="text" required>
                  <label class="label mb-2 mt-2" for="message">Mensagem</label>
                </div>
                <div class="form-field col-lg-12">
                  <input class="btn btn-post" type="submit" value="Enviar" (click)="send()">
                </div>
              </form>
            </div>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>
