<div class="bg-menu">
  <div class="collapse " id="navbarToggleExternalContent">
    <div class="p-4">
      <ul class="navbar-nav display-menu display-flex justify-content-center">
        <li class="nav-item">
          <a routerLink="/feed" class="nav-link text-menu font-weight-bold">Inicio </a>
        </li>
        <li class="nav-item">
          <a routerLink="/support" class="nav-link text-menu ml-25"> Canal de Apoio </a>
        </li>
      </ul>
    </div>
  </div>
  <nav class="navbar navbar-dark">
    <a class="navbar-brand ml-5" routerLink="/feed"><img width="70px" height="70px" src="https://i.imgur.com/xxOubDa.png"
        alt=""></a>
    <button class="navbar-toggler ml-auto btn-menu" type="button" data-toggle="collapse"
      data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
