.bg-menu {

  background: linear-gradient(135deg, rgba(176, 106, 252, 1) 39%, rgba(116, 17, 255, 1) 101%);

}

.btn-menu {

  background: transparent;

}

.text-menu {

  font-size: 25px;
  color: #FFFFFF;

}

.display-menu {

  display: flex;
  flex-flow: row;
  justify-content: right;
}

.display-menu li {

  margin-left: 13px;

}

@media screen and (max-width: 992px) {


  .display-menu {

    flex-flow: column;
    justify-content: center;
  }

  .display-menu li {

    margin-left: 13px;
    text-align: center;

  }

}
