<div class="bg-home padding-bottom padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="https://i.imgur.com/xxOubDa.png" alt="">
      </div>
      <div class="col-sm-6">

        <p class="paragrafo">Como eu posso ajudar a promover a igualdade de gênero no Brasil? Essa pergunta revela a
          essência da Mtch,
          somos uma rede social volta às mulheres desenvolvedoras que conecta as usuárias a cursos, matérias de estudo,
          vagas, e um canal de apoio. Vem se conectar com a gente gente!</p>

        <div class="text-center mr-3">
          <button type="button" class="btn btn-home btn-login" routerLink="/register">Cadastra-se</button>
          <button type="button" class="btn btn-home btn-login ml-3" routerLink="/login">Login</button>
        </div>
      </div>
    </div>
  </div>

</div>
