<div class="bg-register padding-bottom">

  <div class="container">
    <div class="row">
      <div class="col-sm-7 mt-5">
        <div class="container">
          <div class="row d-flex justify-content-center mt-5">
            <div class="col-12 col-md-8 col-lg-6">
              <div class="card py-3 px-2">
                <div class="division">
                  <div class="row">
                    <div class="col-3">
                      <div class="line l"></div>
                    </div>
                    <div class="col-6"><span>INSCREVA-SE</span></div>
                    <div class="col-3">
                      <div class="line r"></div>
                    </div>
                  </div>
                </div>
                <form class="myform">
                  <div class="form-group"> <input [(ngModel)]="user.name" type="name" name="name" class="form-control"
                      placeholder="Nome"> </div>
                  <div class="form-group"> <input [(ngModel)]="user.email" type="email" name="email"
                      class="form-control" placeholder="Email"> </div>
                  <div class="form-group"> <input [(ngModel)]="user.about" type="about" name="about"
                      class="form-control" placeholder="Compartilhe sobre você"> </div>
                  <div class="form-group"> <input [(ngModel)]="user.photo" type="photo" name="photo"
                      class="form-control" placeholder="Foto"> </div>
                  <div class="form-group"> <input type="password" (input)="confirmePassword($event)"
                      class="form-control" placeholder="Senha"> </div>
                  <div class="form-group"> <input [(ngModel)]="user.password" type="password" name="password"
                      class="form-control" placeholder="Confirme sua Senha">
                  </div>
                  <div class="form-group mt-2 mb-3">
                    <select class="form-control form-style" (change)="typeUser($event)">
                      <option value="">Selecione tipo de usuárie</option>
                      <option value="normal">Empresa</option>
                      <option value="normal">Usuária</option>
                    </select>
                    <i class="input-icon uil uil-lock-alt"></i>
                  </div>
                  <div class="btn-flex">

                    <div class="form-group mt-3"> <button type="button" class="btn btn-cancel btn-lg btn-register"
                        routerLink="/login">Cancelar</button></div>
                    <div class="form-group mt-3"> <button type="button" class="btn btn-primary btn-lg btn-register"
                        (click)="register()">Inscreva-se</button></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 img-register">
        <img width="400px" height="400px" src="https://i.imgur.com/ReHynRD.png" alt="">
      </div>
    </div>
  </div>

</div>
